<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="10"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="icon" href="https://dragonadm.neocities.org/signalizer/Capture.PNG" type="image/gif" sizes="16x16">
    <title>Admin Monitor</title>
    <style>
        body {
            background: linear-gradient(to right,#36d1dc,#5b86e5);
            font-family: Poppins;
            text-align: center;
            color: white;
        }
        p{
            color: darkslategrey;
        }
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 2px solid white;
        }
        .container {
            padding: 10px;
            margin-top: 80px;
            width: 100%;
            border-radius: 10px;
        }
        .item {
            width: 100px;
            padding: 10px;
            display: inline-block;
            vertical-align: middle
        }
        .navbar {
            margin-bottom: 0px;
        }
        .btn-outline-info {
            color: white;
            border: 2px solid white;
            font-weight: bold;
        }
        #npdf {
            margin-bottom: 10px;
            border: 2px solid white;
            padding: 10px;
            border-radius: 20px;
        }

        #pdf {
            margin-bottom: 10px;
            border: 2px solid white;
            padding: 10px;
            border-radius: 20px;
        }
        #btnstart{
            width: 60%;
            border-style: solid;
            margin: 10px;
            border-radius: 10px;
            font-weight: 500;
        }

        #lgo {
            margin-bottom: 0;
        }

        .col-md-4 {
            text-align: center;
        }

        #welcome {
            color: white;
        }

        .item {
            width: auto;
        }
        .table {
            width: 100%;
            margin-bottom: 1rem;
            color: white;
        }
        .table-danger, .table-danger>td, .table-danger>th {
            background-color: transparent;
            border: 2px solid white;
        }
        .table-info, .table-info>td, .table-info>th {
            background-color: transparent;
            border: 2px solid white;
        }
        #oghead {
        background: rgb(2, 132, 155);
        }
        #exampleModalLabel{
            color: darkslategrey;
        }
        .text-white { 
            padding: 10px;
        }
        #myInput, #ended{
            border-radius: 5px;
            border-color: transparent;
            padding-left: 10px;
        }
        #footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:#343a40;
            color: white;
            float:left;
            text-align: left;
            font-size: 12px;
            padding: 10px;
        }
        p{
            margin: 0;
        }
        #tcf {
            margin-right: 10px;
        }
        #tcfmodalcontent {
            background: transparent;
            width: max-content;
        }
        .downloadcsv {
            padding-top: 0.5rem;
        }
        .downloadcsv form {
            display: flex;
        }
        .downloadcsv form button {
            margin-left: 0.5rem;
            outline: none;
            background: green;
            border: 1px solid white;
            font-weight: bold;
            color: white;
        }
    </style>
</head>
<body>
    <!-- navbar start -->
    <div class="pos-f-t">
      <nav class="navbar navbar-light fixed-top bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/adminhome" id="welcome">Welcome, <%= user.firstName %>!</a>
          </div>
          <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="text-white" href="/adminhome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" href="/adminmonitor">Monitor</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" href="/adminschedule">Scheduling</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" href="/rostermanagement">Roster</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" href="/managetask">Manage Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" href="/adminpwreset">Reset Password</a>
                </li>
                <li hidden>
                    <button id="tcf" class="btn btn-success btn-sm" data-toggle="modal" data-target="#tcfmodalwindow"><strong>Task Completion Form</strong></button>
                </li>
                <form action="/logout" method="POST" id="lgo">
                    <button class="btn btn-danger btn-sm"><strong>Logout</strong></button>
                </form>
          </ul>
        </div>
      </nav>
    </div>
      <!--new nav end-->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label for="myInput">RTM Filter: </label>
                <input type="text" id="myInput" onkeyup="myfil()" placeholder="Search for names.." title="Type in a name">
            </div>
            <div class="col-md-12">
                <!-- ongoing tasks -->
                <H4><strong>Real Time Tasks</strong></H4>
                <div></div>
                <table class="table" id="ongoingtable">
                    <tr>
                        <th>Task ID</th>
                        <th>Name</th>
                        <th>Task Name</th>
                        <th>Start</th>
                        <th>Duration</th>
                        <th></th>
                    </tr>
                    <% for(let ot of ongoingTasks){ %>
                        <tr class="ongTasks">
                            <td><%= ot.taskID %></td>
                            <td><%= ot.fullName %></td>
                            <td><%= ot.taskName %></td>
                            <td class="ongtime"><%= ot.startDate %></td>
                            <td class="runtime"></td>
                            <td><button class="btn btn-danger" data-toggle="modal" data-target="#<%= ot.userName %><%= ot.taskID %>">END</button></td>
                        </tr>
                        <div class="modal fade" id="<%= ot.userName %><%= ot.taskID %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel"><%= ot.fullName %>: <%= ot.taskName %></h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="/agenttaskput?_method=PUT" method="POST">
                                        <div class="form-group">
                                            <textarea name="comments" placeholder="Comments for <%= ot.taskName %>" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input name="taskID" class="form-control" value="<%= ot.taskID %>" hidden></input>
                                        </div>
                                        <div>
                                            <button class="btn btn-danger">END</button>
                                        </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    <% } %>
                </table>
            </div>
            <div class="col-md-12">
                <hr>
                <!-- ended tasks -->
                <div class="col-md-3">
                    <label for="ended">Task History: </label>
                    <input type="text" id="ended" onkeyup="endedFil()" placeholder="Task ID Search.." title="Type in a name">
                    
                    <div class="downloadcsv">
                        <form action="/getallTagging" method="POST">
                            <select name="userName" required>
                                <option value="">SELECT AGENT</option>
                                <% for (let afn of alluserName){ %>
                                    <option value="<%=afn.userName%>"><%=afn.fullName%></option>
                                <% } %>
                            </select>
                            <button type="submit">DOWNLOAD CSV</button>
                        </form>
                    </div>
                    
                </div>
                <H4><strong>History</strong></H4>
                <table class="table" id="endedTbl">
                    <thead id="oghead">
                        <tr class="table-danger">
                            <th scope="col">Task ID</th>
                            <th scope="col">Agent Name</th>
                            <th scope="col">Task Name</th>
                            <th scope="col">Task Type</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Comments</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for ( let et of results) { %>
                            <tr class="table-info">
                                <td><%= et.taskID %></td>
                                <td><%= et.fullName %></td>
                                <td><%= et.taskName %></td>
                                <td><%= et.taskType %></td>
                                <td><%= et.startDate %></td>
                                <td><%= et.endDate %></td>
                                <td><%= et.durationTime %></td>
                                <td><%= et.comments %></td>
                                <td><button class="btn btn-warning" data-toggle="modal" data-target="#<%= et.userName %><%= et.taskID %>">OverRide</button></td>
                            </tr>
                            <div class="modal fade" id="<%= et.userName %><%= et.taskID %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel"><%= et.fullName %>: <%= et.taskName %></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/adminmonitor?_method=PUT" method="POST">
                                            <div class="form-group">
                                                <input name="taskID" class="form-control" value="<%= et.taskID %>" hidden></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="userName" class="form-control" value="<%= et.userName %>" hidden></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="fullName" class="form-control" value="<%= et.fullName %>" disabled></input>
                                            </div>
                                            <div class="form-group">
                                                <select name="taskName" class="form-control">
                                                    <option value="<%= et.taskName %>"><%= et.taskName %></option>
                                                    <% for (let ts of tsk) { %>
                                                    <option value="<%= ts.taskName %>"><%= ts.taskName %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input name="startDate" class="form-control" value="<%= et.startDate %>"></input>
                                            </div>
                                            <div class="form-group">
                                                <input name="endDate" class="form-control" value="<%= et.endDate %>"></input>
                                            </div>
                                            <p>Comments: <%= et.comments %></p>
                                            <div class="form-group">
                                                <textarea name="comments" placeholder="Comments for <%= et.fullName %>: <%= et.taskName %>" class="form-control"></textarea>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning">OverRide</button>
                                            </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        <% } %>
                    </tbody>
                </table>
                <form action="/paginate" method="POST">
                    <label for="cars">Select page:</label>
                    <select id="cars" name="page">
                        <% for (let page of p){ %>
                            <option value="<%= page %>"><%= page %></option>
                        <% } %>
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>

    <div id="tcfmodal">
        <div class="modal fade" id="tcfmodalwindow" tabindex="-1" role="dialog" aria-labelledby="tcfmodallabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="tcfmodalcontent">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScTCDYw9SetODq3cXBRJYAfQuQQ9WYeYVIvPq9ga9ultTM04Q/viewform?embedded=true" width="640" height="2369" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>  
    <!--Footer Start-->
    <div class="footer">
        <p id="footer">Signalyzer v2.0™ | Created by Rupert Tianzon & Ralph Lawrence Villamor</p>
    </div>
    <!--Footer End-->
    <script>
        function convertTZ(date, tzString) {
            return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", {timeZone: tzString}));   
        }

        let stime = document.querySelectorAll('.ongtime');
        let runtime = document.querySelectorAll('.runtime');
        setInterval(function() {
            fetch('/getservertime/api')
                .then((res) => {
                    return res.json()
                })
                .then((data) => {
                    let servertime = data.servertime
                    for (i=0; i<stime.length; i++) {
                    let actime = stime[i].innerHTML
                    let start = new Date(actime).getTime()
                    let now = new Date(servertime).getTime()
                    let distance = now - start;
                    // let now = convertTZ(new Date(), "Asia/Manila")
                    // let distance = convertTZ(new Date(), "Asia/Manila") - start;
                    let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    let seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    runtime[i].innerHTML=hours + "h " + minutes + "m " + seconds + "s"
                    }
                })
        }, 1000)

        setInterval(function reqong(){
            fetch('/signalyzer/api')
             .then((res)=>{
                return res.json()
             })
             .then((data)=>{
                let onGoing = data.filter((task)=>{
                return task.onGoing == true
                })
                let crlen = document.querySelectorAll('.ongtime')
                let curlen = crlen.length
                let newlen = onGoing.length
                // console.log(`current: ${curlen}`)
                // console.log(`new: ${newlen}`)
                if(curlen != newlen){
                    location.reload()
                }
             })
             .then(()=>{
             })
        }, 3000)

        function myfil() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("ongoingtable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText || td.innerHTML;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }       
            }
        }

        function endedFil() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("ended");
            filter = input.value.toUpperCase();
            table = document.getElementById("endedTbl");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText || td.innerHTML;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }       
            }
        }
    </script>
</body>
</html>